@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.banner-container {
    display: flex;
    height: 260px;
    width: 100%;
}

.banner-title-container {
    flex: 1 1 auto;
    position: relative;
}

.banner-title {
    @include type-style ('heading-06');
    padding-top: 32px;
    padding-bottom: 48px;
}

.banner-image-container {
    background-image: url("https://cloud.ibm.com/catalog/imgs/catalog-banner-light398a.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    width: 50%;
}

.repoTiles{
    margin-bottom: 0;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.projectTile {
    border: 1px solid var(--UI-ui-03, #E0E0E0);
    background: #FFF;
    width: 300px;
    height: 350px;
  }

.projectTile__title {
    display: flex;
    font-size: 1.25em;
    padding: 16px 32px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.projectTile__industry {
    display: flex;
    //padding: 16px 16px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    font-style: italic;
}

.projectTile__description {
    display: flex;
    padding: 16px 32px 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.projectTileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }

.projectTile__techs {
    font-weight: bold;
}

.project__row {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-wrap: wrap;
}

.toolkit_icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5em;
    margin-left: 0px;
}

.filter-search {
    width: 40%;
}

.banner-search {
    width: 80%;
}

.search-row {
    width: 100%;
    padding-left: 1em;
}
.filter-row {
    width: 100%;
    padding-left: 1em;
}


