@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.cds--content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.mission__grid {
  max-inline-size: 100%;
  padding-left: 0;
  padding-right: 0;
}

.mission_banner__row {
  width: 100%;
  height: 20vh;
  background-color: #F4F4F4;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  
}

.body__row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}

.title__column {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mission_img__container {
  background-image: url("./mission.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  size: 200%;
}

  