@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.cds--content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.mission__grid {
  max-inline-size: 100%;
  padding-left: 0;
  padding-right: 0;
}

.mission_banner__row {
    display: flex;
    width: 100%;
    height: 260px;
    background-color: #F4F4F4;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}

.body__row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    @include type-style ('heading-03');
    padding-top: 32px;
}

.title__column {
    flex: 1 1 auto;
    position: relative;
}

.banner-title {
  @include type-style ('heading-06');
  padding-top: 64px;
  padding-left: 32px;
  padding-bottom: 16px;
}

.banner-subtitle {
  @include type-style ('heading-03');
  padding-left: 32px;
}

.mission_img__container {
  background-image: url("./mission.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  size: 200%;
}

.body__column {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 60%;
}

.pillar__column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  @include type-style ('heading-03');
  padding-bottom: 15%;
}

.pictogram {
  fill: #078205;
  stroke: #078205;
  stroke-width: .25;
  height: 64px;
  width: 64px;
  margin-bottom: 36px;
}

.pillar__column__list {
  @include type-style ('heading-03');
}